<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @ville.nom %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ville.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @ville.latitude %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @weather_var %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= % @temp_var %> &deg;F
</p>

<%= link_to 'Edit', edit_ville_path(@ville) %> |
<%= link_to 'Back', villes_path %>
